# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Virtual environments and environment files
backend/.env
backend/venv/
backend/venv2/

# Python cache
backend/__pycache__/

# JANI Screenshots
backend/JANI-Screenshots/

backend/face_encodings.pkl
# Fine-tuning dataset
dataset_used_for_fine_tuning.json

# Documentation
readme.md

backend/face_encodings.pkl